<!DOCTYPE html>
{% include topcomment.html %}
<html lang="{{ site.lang }}">
	<head>
		<title>{{ site.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ "assets/css/main.css" | prepend: site.baseurl }} " />
		<noscript><link rel="stylesheet" href="{{ "assets/css/noscript.css" | prepend: site.baseurl }}" /></noscript>
	</head>
	<body class="is-preload">

	<!-- Wrapper -->
		<div id="wrapper">
			
			<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img height="118" width="118" src="{{ "images/avatar.jpg" | prepend: site.baseurl }}" alt="" /></span>
							<h1>Barnabas Gavin Cangan</h1>
							<p>Robotics Graduate Student</p>
						</header>

						{% comment %}
						{% include extra.html %}
						{% endcomment %}
						<!-- <div w3-include-html="_includes/extra.html"></div> -->

						<footer>

							<ul class="icons">
								<li><a href="https://github.com/gavincangan" class="fa-git">Github</a></li>
								<li><a href="https://www.linkedin.com/in/cangan/" class="fa-linkedin">LinkedIn</a></li>
								<!-- <li><a href="http://q.bgav.in/" class="fa-quora">Quora</a></li> -->
								<li><a href="http://resume.bgav.in/" class="fa-file-pdf-o">Resume</a></li>
							</ul>

							<ul class="icons">
								<li>
								<script type="text/javascript" language="javascript">
									<!--
									// Email obfuscator script 2.1 by Tim Williams, University of Arizona
									// Random encryption key feature coded by Andrew Moulden
									// This code is freeware provided these four comment lines remain intact
									// A wizard to generate this code is at http://www.jottings.com/obfuscator/
									{ coded = "4XHdKk@dV.S9L"
									  key = "aF6LRfP2SAYt5HQclUzGNqMiVOmEpvoxgIDWKBjCJnds0X3wbhy7uTk9re8Z14"
									  shift=coded.length
									  link=""
									  for (i=0; i<coded.length; i++) {
										if (key.indexOf(coded.charAt(i))==-1) {
										  ltr = coded.charAt(i)
										  link += (ltr)
										}
										else {     
										  ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
										  link += (key.charAt(ltr))
										}
									  }
									document.write("<a href='mailto:"+link+"' class='fa-envelope-o'>"+link+"</a>")
									}
									//-->
								</script><noscript>Sorry, you need Javascript on to email me.</noscript>
								</li>
								<li><a href="https://www.facebook.com/gavincangan" class="fa-facebook-f">Facebook</a></li>
								<li><a href="https://twitter.com/gavincangan" class="fa-twitter">Twitter</a></li>
							</ul>

						</footer>
					</section>
				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Barnabas Gavin Cangan</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

		</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>
	</body>
</html>